services:
  app:
    container_name: ros2
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    ports:
      - "8080:8080"
    volumes:
      - /home/celinen/ros2_ws:/ros2_ws

volumes:
  db-data:
